@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma-Black';
    src: url('Axiforma-Black.woff2') format('woff2'),
        url('Axiforma-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
