body,
h1,
h2,
h3,
p,
li,
ul,
ol,
blockquote,
fieldset,
button {
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    body {
        background: linear-gradient(to top, hsl(220, 85%, 5%) 60px, white 60px);
    }
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
